<!DOCTYPE html>
<html lang="de">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="GuideLight Design Entwurf V01">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="{{ url_for('static', filename='favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-196x196.png') }}"
        sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}"
        sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
        sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
        sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-128.png') }}"
        sizes="128x128" />


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/base.css') }}">

    <!-- Render Title of Webpage -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>GuideLight</title>
    {% endif %}

    {% block style %}{% endblock %}
</head>


<body class="grid">
    <!-- Base GRID: 4 rows, 3 columns -->

    <!-- Row LOGO -->
    <header class="logo">
        {% block header %}{% endblock %}
    </header>
    <!-- Row BAR -->
    <section class="bar">
        {% block bar %}{% endblock %}
    </section>
    <!-- Row CONTENT -->
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <!-- Row FOOTER -->
    <footer class="footer">
        <div class="item"><a class="link" href="/blog/GuideLight">About</a></div>
        <div class="item"><a class="link" href="/privacy">Datenschutz</a></div>
        <div class="item"><a class="link" href="/impressum">Impressum</a></div>
        <div class="item">
            <a href="https://www.bmbf.de">
                <img height="50" alt="Logo: Das Bundesministerium für Bildung und Forschung (BMBF)"
                    src="{{url_for('static',filename='image/logo-bmbf.svg')}}">
            </a>
        </div>
    </footer>

</body>

</html>