{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/entity.css') }}">
{% endblock %}

{% block header %}
<a href="/" class="link">
    <h2>GuideLight</h2>
</a>
<ul class="arrows">
    <li><a href="/search">Suche</a></li>
    <li><a href="/entity/{{entity.short}}">{{entity.name}}</a></li>
</ul>
{% endblock %}

{% block bar %}
<div class="left text">Wähle weiter unten eine Möglichkeiten aus.</div>
{% endblock %}

{% block content %}
<div class="info">
    <h2 class="headline">{{entity.name}}</h2>
    <p class="teaser">
        {{entity.name}} gehört der Kategorie {{entity.category}} an.
        <br>
        {{entity.description}}
        <br>
        Die Website:
        <a href="{{entity.contact.url}}" class="link">{{entity.contact.url}}</a>
    </p>
    <div class="teaser">
        Hier siehst Du eine Übersicht über die Möglichkeiten gegebüber
        {{entity.name}} deine Rechte geltend zu machen. Welches deiner Rechte möchtest du gegebüber {{entity.name}} in
        Anspruch nehmen?
    </div>
</div>
<!-- <p class="action teaser">
    Welches deiner Rechte möchtest du gegebüber {{entity.name}} in Anspruch nehmen?
    <br>
    Wähle eine der folgenden
    Möglichkeiten aus und starte erstelle ein Anschreiben.
</p> -->

{# {% for action in entity.actions %} #}
{% for k, v in entity.actions.items(): %}
<a href="/entity/{{entity.short}}/{{k}}" class="selection link" title="{{v.description}}">
    <div class="circle"></div>
    <div class="headline">{{v.name}}</div>
    <!-- <details class="teaser"> -->
    <summary class="teaser">{{v.description}}</summary>
    <!-- <p>{{v.description}} EXTENDED</p> -->
    <!-- </details> -->
</a>
{% endfor %}
{% endblock %}