{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='entity.css') }}">
{% endblock %}

{% block header %}
<a href="/" class="link">
    <h2>GuideLight</h2>
</a>
<ul class="arrows">
    <li><a href="/search">Suche</a></li>
    <li><a href="/entity/{{entity.short}}">{{entity.name}}</a></li>
    <!-- <li><a href="#">Auskunft</a></li>
    <li><a href="#">Step 1</a></li> -->
</ul>
{% endblock %}

{% block bar %}
<div class="bar-text">
    Hier siehst Du eine Übersicht über die Möglichkeiten gegebüber {{entity.name}} deine Rechte geltend zu machen.
</div>
{% endblock %}

{% block content %}
<div class="info">
    <h2 class="headline">{{entity.name}}</h2>
    <p class="teaser">
        {{entity.name}} gehört der Kategorie {{entity.category}} an. <br>
        {{entity.description}} <br>
        <a href="{{entity.url}}" class="link">{{entity.url}}</a>
    </p>
</div>
<!-- This is here because i dont understand css grids 
TODO: learn how auto-placement works and how to place 'selection' properly
-->
<div></div>
<div></div>

<p class="action teaser">
    Über welchen Weg möchtest Du über die Nutzung Deiner
    Daten bestimmen?
</p>

{% for action in entity.actions %}
<a href="/entity/{{entity.short}}/{{action.short}}" class="selection link" title="{{action.content.ref.description}}">
    <div class="circle"></div>
    <div class="headline">{{action.name}}</div>
</a>
{% endfor %}
{% endblock %}