{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/find.css') }}">
{% endblock %}

{% block header %}
<a href="/" class="link">
    <h2>GuideLight</h2>
</a>
{% endblock %}

{% block bar %}
<div class="left">
    <form>
        <label class="text" for="form-text">{{"Suche nach Eigennamen oder wähle eine Kategorien."|safe}}</label>
        <input type="text" class="text input" id="form-text" name="form-text"
            placeholder="'Google', 'Kundenkarte', 'LKA' ..." {% if query %} value="{{ query }}" {% endif %}>
        <input type="button" class="text btn" id="form-btn" value="Find">
    </form>
</div>
<div class="right text">
    <div class="tags-container">
        {% for tag in tags %}
        <input type="button" class="tags" value="{{tag}}">
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
{% for entity in entities %}
<a href="/entity/{{ entity.short }}" data-searchable="{{ entity.name }} {{ entity.short }} {{ entity.category }}"
    class="link entity">
    <div class="box">
        <div class="circle"></div>
        <!-- <span class="tags"> {{ entity.category }}</span> -->
        <div class="name" title="{{entity.category}}:&#013;{{entity.name}}">{{ entity.name }}</div>
    </div>
</a>
{% endfor %}
<script src="{{ url_for('static',filename='script/find.js') }}"></script>
{% endblock %}