{########################### GLOBALE VARIABLEN ###########################}
{% set letter = entity.action.content %}

{% macro macro_user(type, name, label, value, placeholder="") -%}
<input id="{{name}}" name="{{name}}" type="{{type}}" value="{{value}}" data-form="" data-validation="{{validation}}"
    placeholder="{{placeholder}}">
<label for="{{name}}">{{label}}</label>
{%- endmacro %}

{% macro macro_user_nested(item) -%}
<input id="{{item.name}}" name="{{item.name}}" type="{{item.input}}" value="{{item.value}}" data-form=""
    data-validation="{{item.validation}}" placeholder="{{item.placeholder}}">
<label for="{{item.name}}">{{item.label}}
    <input id="{{item.content.name}}" type="{{item.content.input}}" value="{{item.content.value}}" data-form=""
        data-validation="{{item.content.validation}}" placeholder="{{item.content.placeholder}}">
</label>
{%- endmacro %}

{% macro macro_ident(mode=[], title="", dbkey="") -%}
<fieldset class="ident {{dbkey}}">
    <legend>{{title}}</legend>
    {# TODO: div to collapse inputs #}
    {% for i in mode %}
    <input id="{{i.name}}" name="{{i.name}}" type="{{i.input}}" value="{{i.value}}" data-form=""
        placeholder="{{i.placeholder}}" data-validation="{{i.validation}}">
    <label for="{{i.name}}">{{i.label}}</label>
    {% endfor %}
</fieldset>
{%- endmacro %}

{% macro macro_summary(id, name, text) -%}
<div class="export {{id}}">
    <label for="{{id}}">{{text}}</label>
    <button type="button" class="btn" id="{{id}}-btn">{{name}}</button>
</div>
{%- endmacro %}


{#################################### BODY ####################################}
{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/form.css') }}">
{% endblock %}

{################################### HEADER ###################################}
{% block header %}
<a href="/" class="link">
    <h2>GuideLight</h2>
</a>
<ul class="arrows">
    <li>
        <a class="link" href="/search">Suche</a>
    </li>
    <li><a class="link" href="/entity/{{entity.short}}">
            {{entity.name}}</a>
    </li>
    {% for key in letter.form %}
    <li class="step">{{letter.get(key).title}}</li>
    {% endfor %}
</ul>
{% endblock %}

{##################################### BAR ####################################}
{% block bar %}
{% for key in letter.form %}
<p class="step">{{letter.get(key).info}}</p>
{% endfor %}
{% endblock %}

{################################### CONTENT ##################################}
{% block content %}
<form>
    {% for key in letter.form %}
    {% set step = letter.get(key) %}
    <div class="step">
        <p>{{ step.text|safe }}</p>

        {########################### IF STEP INFO ###########################}
        {% if step.type == "info" %}
        {# currently nothing happens here #}
        {########################### IF STEP USER ###########################}
        {% elif step.type == "user" %}
        <fieldset>
            <legend>Eingabe</legend>
            {% for i in step.content %}
            {% if i.content %} {# catch nested inputs #}
            {{ macro_user_nested(i) }}
            {% else %}
            {{ macro_user(i.input, i.name, i.label, i.value, i.placeholder) }}
            {% endif %}
            {% endfor %}
            {# CANVAS FOR SIGNATURE #}
            {% if key == "signature" %}
            <div>
                <canvas id="signature-canvas" ></canvas>
                <br>
                <label for="signature-canvas"><button type="button" id="signature-clear" class="btn">neuer
                        Versuch</button> Hier kannst du das Anschreiben digital unterschreiben.</label>
                <script src="{{  url_for('static',filename='script/signature.js')  }}"></script>
            </div>
            {% endif %}
        </fieldset>
        {########################### IF STEP IDENT ###########################}
        {% elif step.type == "ident" %}
        <fieldset>
            <legend>Eingabe</legend>
            {% for key in step.content %}
            {% if not(key == 'description')%}
            {{ macro_ident( step.content.get(key),
            step.content.description.get(key), key) }}
            {% endif %}
            {% endfor %}
        </fieldset>
        {########################## IF STEP SUMMARY ##########################}
        {# TODO: text generieren überarbeiten bzw. in DB packen #}
        {# TODO: check if there is mail or formatted address available #}
        {% elif step.type == "summary" %}
        {% if formatted_address in entity.contact.address %}
        {% set text = "Hier kannst du das Anschreiben als PDF exportieren 
                und via Post verschicken. Wir haben die korrekte Adresse von " + entity.name + " hinzugefügt."%}
        {{ macro_summary("pdf","PDF speichern",text)}}
        {% else %}
        {% set text = "Hier kannst du das Anschreiben als PDF exportieren 
                und via Post verschicken. Leider haben wir die korrekte Anschrift von " + entity.name + " derzeit nicht vorliegen. Du kannst den Brief trotzdem ausdrucken."%}
        {{ macro_summary("pdf","PDF speichern",text)}}
        {% endif %}
        {# {% elif True %} #}
        {% set text = "Hier kannst du das Anschreiben als E-Mail verschicken. Die E-Mailadresse von" + entity.name + " wird automatisch ergänzt."%}
        {{ macro_summary("mail","Mail verschicken",text)}}
        {# {% elif True %} #}
        {% set text = "Falls du lediglich den Text des Anschreibens in die Zwischenablage kopieren möchtes, kannst du das hier tuen."%}
        {{ macro_summary("copy","Text kopieren",text)}}
        {# {% endif %} #}
        {% endif %}

    </div>
    {% endfor %}
</form>
<div class="navigation-container">
    {% if "primary" in letter.description %}
    {# rel="noopener noreferrer" target="_blank" #}
    <a href="{{letter.description.primary.url}}" class="btn link" id="link-btn">{{letter.description.primary.value}}</a>
    {% endif %}
    <button type="button" class="btn" id="prev-btn">zurück</button>
    <button type="button" class="btn" id="next-btn">weiter</button>
</div>

{########################### JAVASCRIPT IMPORTS ###########################}
<script>entity = JSON.parse('{{ entity | tojson | safe}}');</script>
<script src="{{ url_for('static',filename='script/pdfmake/build/pdfmake.js') }}"> </script>
<script src="{{ url_for('static',filename='script/pdfmake/build/vfs_fonts.js') }}"> </script>
<script src="{{ url_for('static',filename='script/form_2.js') }}"></script>
{% endblock %}