{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/home.css') }}">
{% endblock %}

{% block header %}
GuideLight zeigt dir, <br>
wie du deine Daten im Netz <br>
kontrollieren kannst.
{% endblock %}

{% block bar %}
<div class="bar-text">
    Bestimme, wie Unternehmen und Behörden mit deinen Daten umgehen sollen.
</div>
<form class="search">
    <input type="text" class="form-text" name="query" placeholder="'Google', 'Kundenkarte', 'LKA' ...">
    <input type="submit" class="form-click" value="Find">
</form>
{% endblock %}

{% block content %}
<a href="/blog/DSGVO" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">DSGVO</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Auskunftsrecht" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Auskunftsrecht</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Mahnung" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Mahnung</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Vergessenwerden" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Vergessenwerden</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Berichtigung" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Berichtigung</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Widerspruchsrecht" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Widerspruchsrecht</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Einschränkung" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Einschränkung</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Profiling" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Profiling</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Datenübertragung" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Datenübertragung</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Datenbank" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Datenbank</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/GuideLight" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">GuideLight</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/BDSG" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">BDSG</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
{% endblock %}