{#################################### BODY ####################################}
{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/home.css') }}">
{% endblock %}

{################################### HEADER ###################################}
{% block header %}
{{  "GuideLight zeigt dir, <br>
    wie du deine Daten im Netz <br> 
    kontrollieren kannst."|safe  }}
{% endblock %}

{##################################### BAR ####################################}
{% block bar %}
<div class="left text">
    {{"Hier kannst du bestimme, wie mit deinen Daten umgeganden werden soll.
     Wähle zunächst aus unserer Datenbank von über 2700 Unternehmen und Behörde:"|safe}}
</div>
<div class="right">
    <form>
        <input type="text" class="text input" name="query" placeholder="'Google', 'Kundenkarte', 'LKA' ...">
        <input type="submit" class="text btn" value="Suche">
    </form>
</div>
{% endblock %}

{################################### CONTENT ##################################}
{% block content %}
<a href="/blog/DSGVO" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">DSGVO</h2>
        <p class="teaser">In diesem Blogeintrag entsteht ein Text zur Datenschutzgrundverordnung. Er fasst die
            Rechte für Nutzer*Innen zusammen.</p>
    </article>
</a>
<a href="/search" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Suche</h2>
        <p class="teaser">Mit der Suchfunktion von GuideLight können über 2000 Unternehmen, Sicherheitsbehörden und
            Ämter gefunden werden.
        </p>
    </article>
</a>
<a href="/blog/GuideLight" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">GuideLight</h2>
        <p class="teaser">Was ist GuideLight? Wie funktioniert die Website und wie kann ich mit GuideLight bei
            Unternehmen meine Rechte
            einfordern?</p>
    </article>
</a>
<a href="/blog/Links" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Linksammlung</h2>
        <p class="teaser">Ein Sammlung von Links zu Informationen, Websites, Videos und ähnlichen Projekten zum Thema
            Datenschutz und der DSGVO.</p>
    </article>
</a>
<a href="/blog/Auskunftsrecht" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Auskunftsrecht</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Korrektur" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Korrektur</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Vergessenwerden" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Vergessenwerden</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
<a href="/blog/Datenübertragung" class="link">
    <article class="wrap">
        <div class="circle"></div>
        <h2 class="headline">Datenübertragung</h2>
        <p class="teaser">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </article>
</a>
{% endblock %}