/*******************************************************************************
                                LOGO          
*******************************************************************************/

.logo {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2vw;
}

.logo h2 {
    font: 24px --gl-logo;
}

/*******************************************************************************
                                BREADCRUMB    
                    https://css-tricks.com/triangle-breadcrumbs/      
*******************************************************************************/

.arrows {
    /* white-space: nowrap; */
    padding: 0px;
}

.arrows li {
    display: inline-block;
    margin: 0 9px 0 -10px;
    padding: 0 10px;
    position: relative;
}

.arrows li::before,
.arrows li::after {
    border-right: 2px solid var(--gl-mint);
    content: '';
    display: --gl-block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);
}

.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
    display: none;
}

.arrows li a {
    font: 18px --gl-block;
    letter-spacing: -1px;
    color: hsl(0, 0%, 75%);
    text-decoration: none;
}

.arrows li:first-of-type a {
    color: hsl(0, 0%, 90%);
}

.arrows li:last-of-type a {
    color: hsl(0, 0%, 50%);
}

/*******************************************************************************
                                BAR          
*******************************************************************************/

.bar {
    grid-column: 1 / -1;
    grid-row: 2;
    background: var(--gl-gradient);
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: 8vw repeat(auto-fit, minmax(300px, 1fr)) 8vw;
    padding: 2vw 0% 2vw 0%;
    align-items: center;
}

.bar .left {
    grid-column: 2;
}

.bar .right {
    grid-column: 3;
}

.bar .text {
    font: 18px --gl-block;
}

/*******************************************************************************
                                CONTENT          
*******************************************************************************/

.content {
    grid-column: 2;
    grid-row: 3;
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.info {
    grid-column: 1 / -1;
    grid-row: 1;
}

.headline {
    font: 18px --gl-logo;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action {
    grid-column: 1 / -1;
    grid-row: 2;
    color: var(--gl-gradient)
}

.teaser {
    font: 18px --gl-block;
    text-justify: auto;
}

.selection {
    /* display: flex; */
    border: 2px solid var(--gl-grey);
    border-radius: 10px;
    padding: .75vw;
    background-color: var(--gl-transgrey);
}

.selection:hover {
    cursor: pointer;
    border-color: var(--gl-mint);
    background-color: var(--gl-grey);
}

.circle {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: var(--gl-honeydew);
}

.selection .headline {
    font: 18px --gl-logo;
    margin-top: -1.5em;
    margin-left: .75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selection .teaser {
    font: 18px --gl-block;
    margin-top: .75em;
    margin-left: .75em;
    text-justify: auto;
}