/*******************************************************************************
                                LOGO          
*******************************************************************************/

.logo {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2vw;
}

.logo h2 {
    margin: 0%;
    font: 50px logo, sans-serif;
}

/*******************************************************************************
                                BAR          
*******************************************************************************/

.bar {
    grid-column: 1 / -1;
    grid-row: 2;
    /* padding: 20px; */
    background: var(--gl-gradient);
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.search {
    padding: 2vw 5vw 2vw 5vw;
}

.tags-container {
    padding: 2vw 5vw 2vw 5vw;
}

.form-text {
    font: 18px block;
    height: 25px;
    width: 80%;
    border: none;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
}

.btn {
    display: inline-block;
    font: 18px block;
    padding: 8px;
    margin: 8px 2px 8px 0px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--gl-mutemint);
    outline: none;
}

.btn:hover {
    background-color: var(--gl-turquoise);
}

.form-tags {
    font: 12px block;
    margin: 5px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--gl-mutemint);
    outline: none;
}

/*******************************************************************************
                                CONTENT          
*******************************************************************************/

.content {
    grid-column: 2;
    grid-row: 3;
    padding: 20px;
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, auto));
    grid-gap: 5px;
}

.box {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--gl-transgrey);
}

.box:hover {
    cursor: pointer;
    background-color: var(--gl-grey);
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: var(--gl-honeydew);
}

.headline {
    font: 14px logo;
    margin: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
}

.tags {
    font: 9px block;
    background-color: var(--gl-mutemint);
}