/*******************************************************************************
                                LOGO          
*******************************************************************************/

.logo {
    grid-column: 2;
    grid-row: 1;
    /* padding-top: 2vw; */
}

.logo h2 {
    font: 24px --gl-logo;
}

/*******************************************************************************
                                BREADCRUMB    
                    https://css-tricks.com/triangle-breadcrumbs/      
*******************************************************************************/

.arrows {
    /* white-space: nowrap; */
    padding: 0px;
}

.arrows li {
    display: inline-block;
    margin: 0 10px 10px -10px;
    padding: 0 10px;
    position: relative;
    font: 18px --gl-block;
    letter-spacing: -1px;
    /* color: hsl(0, 0%, 75%); */
    color: var(--gl-grey2);
    cursor: pointer;
}

.arrows li a {
    color: var(--m--gl-grey2);
}

.arrows li::before,
.arrows li::after {
    border-right: 2px solid var(--gl-mutemint);
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);
}

.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
    display: none;
}

.arrows li.current {
    color: var(--gl-mint);
}

/*******************************************************************************
                                BAR          
*******************************************************************************/

.bar {
    grid-column: 1 / -1;
    grid-row: 2;
    background: var(--gl-gradient);
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: 17vw repeat(auto-fit, minmax(300px, 1fr)) 8vw;
    padding: 2vw 0% 2vw 0%;
    align-items: center;
}

.bar .left {
    grid-column: 2;
}

.bar .text {
    font: 18px --gl-block;
}

/*******************************************************************************
                                FORM          
*******************************************************************************/

.content {
    position: relative;
    height: 100%;
    font: 18px --gl-block;
    grid-column: 2;
    grid-row: 3;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    margin: 0 8vw 0 8vw;
    padding: 1vw 2vw 0 2vw;
    text-align: justify;
    text-justify: auto;
}

.content a {
    color: black;
}

.content blockquote {
    font: 14px --gl-block;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
    border: thin solid var(--gl-pale);
    border-radius: 5px;
}

.step {
    display: none;
}

.content .step {
    margin-bottom: 3em;
}

fieldset {
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
}

details {
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    margin: 1em 0% 1em 0%;
}

.input-row {
    margin-bottom: .75em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
}

input {
    grid-column: 1;
    align-self: center;
    height: 1.5em;
    padding: 5px;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
}

textarea {
    grid-column: 1;
    font: 18px --gl-block;
    padding: 5px;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    resize: none;
}

label {
    grid-column: 2;
    text-align: left;
    align-self: center;
}

label::after {
    content: "";
    display: block;
}

.navigation-container {
    position: absolute;
    bottom: .5em;
    right: 1em;
}

.btn {
    font: 18px --gl-block;
    padding: 8px;
    border: 2px solid var(--gl-mutemint);
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.btn:hover:enabled {
    background-color: var(--gl-mutemint);
    border-color: var(--gl-grey);
}

.btn.interacted {
    background-color: var(--gl-mutemint);
    border-color: var(--gl-grey);
}

#signature-container {
    float: right;
}

#signature-canvas {
    /* width: 400px; */
    margin: 0px;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    touch-action: none;
}

.export {
    /* Definition für das innere Grid */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
}

.export .mail {}

export .pdf {}

.export-container {
    grid-column: 2;
    /* grid-row: 3; */
}

.letter-container {
    grid-column: 1;
    grid-row: 1 / -1;
}

#letter-canvas {
    justify-self: center;
    width: 75%;
    height: 80%;
    font: 10px --gl-block;
    padding: 1vw;
    margin-bottom: 1vw;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
}

#export-curaddr {
    display: none;
}

.warning {
    font: 18px --gl-block;
    color: var(--gl-warn);
}