/*******************************************************************************
                                LOGO          
*******************************************************************************/

.logo {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2vw;
}

.logo h2 {
    font: 24px --gl-logo;
}

/*******************************************************************************
                                BREADCRUMB    
                    https://css-tricks.com/triangle-breadcrumbs/      
*******************************************************************************/

.arrows {
    /* white-space: nowrap; */
    padding: 0px;
}

.arrows li {
    display: inline-block;
    margin: 0 10px 10px -10px;
    padding: 0 10px;
    position: relative;
    font: 18px --gl-block;
    letter-spacing: -1px;
    /* color: hsl(0, 0%, 75%); */
    color: var(--gl-grey2);
    cursor: pointer;
}

.arrows li a {
    color: var(--m--gl-grey2);
}

.arrows li::before,
.arrows li::after {
    border-right: 2px solid var(--gl-mutemint);
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);
}

.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
    display: none;
}

.arrows li.current {
    color: var(--gl-mint);
}

/*******************************************************************************
                                BAR          
*******************************************************************************/

.bar {
    grid-column: 1 / -1;
    grid-row: 2;
    background: var(--gl-gradient);
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: 15vw repeat(auto-fit, minmax(300px, 1fr)) 8vw;
    padding: 2vw 0% 2vw 0%;
    align-items: center;
}

.bar .left {
    grid-column: 2;
}

.bar .text {
    font: 18px --gl-block;
}

/*******************************************************************************
                                FORM          
*******************************************************************************/

.content {
    position: relative;
    height: 100%;
    font: 18px --gl-block;
    grid-column: 2;
    grid-row: 3;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    margin: 0 6vw 0 6vw;
    padding: 0 1em 0 1em;
    text-align: justify;
    text-justify: auto;
}

.content a {
    color: black;
}

/* Hide all steps by default: */

.step {
    display: none;
}

.content .step {
    margin-bottom: 3em;
}

input {
    height: 1em;
    padding: 5px;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
}

label {}

label::after {
    content: "";
    display: block;
}

fieldset {
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
}

fieldset fieldset {
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    margin: 1em 0% 1em 0%;
}

.navigation-container {
    position: absolute;
    bottom: .5em;
    right: 1em;
}

.btn {
    font: 18px --gl-block;
    padding: 8px;
    border: 2px solid var(--gl-mutemint);
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.btn:hover:enabled {
    background-color: var(--gl-mutemint);
    border-color: var(--gl-grey);
}

.btn.interacted {
    background-color: var(--gl-mutemint);
    border-color: var(--gl-grey);
}

#signature-canvas {
    margin: 5px 0px 5px 0px;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    touch-action: none;
}

.export {
    /* Definition für das innere Grid */
    display: grid;
    grid-template-rows: auto-fit;
    grid-template-columns: 1fr 2fr;
}

.export-container {
    grid-column: 2;
    grid-row: 3;
}

#letter-canvas {
    grid-column: 1;
    grid-row: 1 / 4;
    width: 50%;
    font: 10px --gl-block;
    padding: 1vw;
    border: 2px solid var(--gl-grey);
    border-radius: 5px;
    justify-self: center;
}