/*******************************************************************************
                                LOGO          
*******************************************************************************/

.logo {
    grid-column: 2;
    grid-row: 1;
    font: 50px --gl-logo, sans-serif;
    padding-top: 2vw;
}

/*******************************************************************************
                                BAR          
*******************************************************************************/

.bar {
    grid-column: 1 / -1;
    grid-row: 2;
    background: var(--gl-gradient);
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: 8vw 1fr 1fr 8vw;
    padding: 2vw 0% 2vw 0%;
    align-items: center;
}

.bar .left {
    grid-column: 2;
}

.bar .right {
    grid-column: 3;
}

.bar .text {
    font: 18px --gl-block;
}

.bar .input {
    height: 25px;
    width: 80%;
    border: none;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    text-align: left;
}

.bar .btn {
    height: 35px;
    border: none;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--gl-mutemint);
}

.bar .btn:hover {
    background-color: var(--gl-turquoise);
}

/*******************************************************************************
                                CONTENT          
*******************************************************************************/

.content {
    grid-column: 2;
    grid-row: 3;
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gl-transgrey);
    padding: 20px;
    border-radius: 10px;
}

.wrap:hover {
    cursor: pointer;
    background-color: var(--gl-grey);
}

.circle {
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: var(--gl-honeydew);
}

.headline {
    align-self: center;
    font: 25px --gl-logo;
    margin-top: -10%;
    margin-bottom: 0px;
}

.teaser {
    align-self: center;
    font: 18px --gl-block;
    overflow: hidden;
    text-align: justify;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* fallback */
    line-height: 18px;
    max-height: 54px;
}