/*******************************************************************************
                                MAIN GRID
                        3 Columns: Border|Content|Border
                        4 Rows: LOGO-BAR-INFO-FOOTER
*******************************************************************************/

/* .grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr minmax(1fr, auto) 1fr;
    grid-gap: 20px;
}

*/
/*******************************************************************************
                                LOGO          
*******************************************************************************/

.logo {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
}

.logo h2 {
    font: 24px logo, sans-serif;
}

/*******************************************************************************
                                BAR          
*******************************************************************************/

.bar {
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 20px;
    background: var(--gl-gradient);
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.search {
    grid-column: 2;
    padding: 20px 20px 20px 0px;
}

.form-text {
    font: 18px block;
    height: 25px;
    width: 70%;
    border: none;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    /* min-width: 250px; */
}

.btn {
    font: 18px block;
    padding: 8px;
    margin: 8px 2px 8px 0px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--gl-mutemint);
    outline: none;
}

.btn:hover {
    background-color: var(--gl-turquoise);
}

.form-tags {
    font: 9px block;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--gl-mutemint);
    outline: none;
}

/*******************************************************************************
                                CONTENT          
*******************************************************************************/

.content {
    grid-column: 2;
    grid-row: 3;
    padding: 20px;
    /* Definition für das innere Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    grid-gap: 5px;
}

.box {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--gl-transgrey);
}

.box:hover {
    cursor: pointer;
    background-color: var(--gl-grey);
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: var(--gl-honeydew);
}

.headline {
    font: 14px logo;
    /* white-space: nowrap; */
    margin: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags {
    font: 9px block;
    background-color: var(--gl-mutemint);
}